<div class="slideBox">
  <div class="title">Fukuoka</div>
    <div class="slider">
      <div class="slider_fade">
        <%= image_tag "Fukuoka.jpg", class:"slider_image" %>
        <%= image_tag "Fukuoka2.jpg", class:"slider_image" %>
        <%= image_tag "Fukuoka3.avif", class:"slider_image" %>
        <%= image_tag "Fukuoka4.jpg", class:"slider_image" %>
        <%= image_tag "Fukuoka5.jpg", class:"slider_image" %>
      </div>
    </div>
  </div>
  </div>

  <div class="Fukuoka-intro-container1">
    <div class="d-demo-Fukuoka">
      <div class="d-demo__wrap-Fukuoka">
        <div class="d-demo__list-Fukuoka d-demo__list--left-Fukuoka">
          <div class="d-demo__item-Fukuoka"><%= image_tag "Motunabe1.jpg", class:"slide-image0" %></div>
          <div class="d-demo__item-Fukuoka"><%= image_tag "Hakataramen1.jpg", class:"slide-image0" %></div>
          <div class="d-demo__item-Fukuoka"><%= image_tag "Mizutaki1.jpg", class:"slide-image0" %></div>
          <div class="d-demo__item-Fukuoka"><%= image_tag "Fukuokaelse1.avif", class:"slide-image0" %></div>
          <div class="d-demo__item-Fukuoka"><%= image_tag "Hakataramen2.jpg", class:"slide-image0" %></div>
          <div class="d-demo__item-Fukuoka"><%= image_tag "Motunabe2.jpg", class:"slide-image0" %></div>
        </div>
      </div>
    </div>


    <div class="Fukuoka-intro">
    <div class="Fukuoka-intro-detail">
    <p>福岡は、ラーメン、もつ鍋、明太子をはじめとする</p>
    <br>
    <p>独自の料理文化で知られ、</p>
    <br>
    <p>その美味しさは言葉では表せないほどです。</p>
    <br>
    <p>福岡の食事は、地元の新鮮な食材と</p>
    <br>
    <p>伝統的な調理法にこだわり、訪れる人々を虜にします。</p>
    <br>
    <p>食べることは福岡での滞在を特別なものにし、</p>
    <br>
    <p>その味覚体験は一生の思い出となることでしょう。</p>
    </div>

    <div class="Fukuoka-intro-title">
    <p>胃袋を魅了、</p>
    <p>食べて福を呼ぶ</p>
    </div>
  </div>

  </div>


  <div class="Fukuoka-gourmet-title">
    福岡のご当地グルメ
  </div>

<div class="Fukuoka-gourmet1-container">
  <div class="Fukuoka-gourmet1-photo">
    <%= image_tag "Motunabe1.jpg", class:"slide-image1" %>
  </div>

  <div class="Fukuoka-gourmet1-right">
    <div class="Fukuoka-gourmet1-title">
    もつ鍋
    </div>

    <div class="Fukuoka-gourmet1-catch">
    <h3>福岡の魂が詰まった一鍋</h3>
    </div>

    <div class="Fukuoka-gourmet1-detail">
    <p>新鮮な牛のもつ(内臓)を特製のスープで煮込み、</p>
    <br>
    <p>野菜と一緒に楽しむ、濃厚で風味豊かな料理です。</p>
    <br>
    <p>もつ鍋は福岡にルーツがあり、1960年代に誕生しました。当初は、</p>
    <br>
    <p>アフター5のサラリーマンや学生の間で親しまれ、その後、全国的に広まりました。</p>
    <br>
    <p>もつ鍋のスープは、各店舗で秘伝のレシピが守られ、</p>
    <br>
    <p>その味わいはお店によって異なります。</p>
    </div>

    <div class="hover41">
      <div class="hover">
        <div class="Fukuoka-gourmet1-link">
          <%= link_to "もつ鍋のお店はこちら", gourmets_Motunabe_path %>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="Fukuoka-gourmet2-container">
  <div class="Fukuoka-gourmet2-right">
    <div class="Fukuoka-gourmet2-title">
    博多ラーメン
    </div>

    <div class="Fukuoka-gourmet2-catch">
    <h3>食べて納得、福岡のラーメン文化</h3>
    </div>

    <div class="Fukuoka-gourmet2-detail">
    <p>九州のソウルフードとして絶大な人気を誇ります。</p>
    <br>
    <p>豚骨ベースの濃厚なスープと、太いストレート麺が特徴で、</p>
    <br>
    <p>トッピングには、チャーシュー、もやし、ねぎ、そして唐辛子が欠かせません。</p>
    <br>
    <p>昭和40年代に誕生し、その起源は屋台から始まりました。</p>
    <br>
    <p>福岡にはラーメン屋が数多くあり、</p>
    <br>
    <p>その中から自分好みの一杯を見つける楽しみも味わえます。</p>
    </div>

    <div class="hover42">
      <div class="hover">
        <div class="Fukuoka-gourmet2-link">
          <%= link_to "博多ラーメンのお店はこちら", gourmets_Hakataramen_path %>
        </div>
      </div>
    </div>
  </div>

  <div class="Fukuoka-gourmet2-photo">
    <%= image_tag "Hakataramen1.jpg", class:"slide-image1" %>
  </div>
</div>


<div class="Fukuoka-gourmet1-container">
  <div class="Fukuoka-gourmet1-photo">
  <%= image_tag "Mizutaki1.jpg", class:"slide-image1" %>
  </div>

  <div class="Fukuoka-gourmet1-right">
    <div class="Fukuoka-gourmet1-title">
    水炊き
    </div>

    <div class="Fukuoka-gourmet1-catch">
    <h3>ほっこり温かい、福岡の風味豊かな料理</h3>
    </div>


    <div class="Fukuoka-gourmet1-detail">
    <p>九州の伝統的な鍋料理の中でも特別な存在です。新鮮な鶏肉や野菜を、</p>
    <br>
    <p>特製のダシで煮込むことが特徴で、繊細な風味が楽しめます。</p>
    <br>
    <p>水炊きは元々は江戸時代から存在しましたが、</p>
    <br>
    <p>福岡で特に発展し、鶏の水炊きが広まりました。</p>
    <br>
    <p>九州地方の温暖な気候と新鮮な鶏肉が、この料理の美味しさに貢献しています。</p>
    </div>

    <div class="hover43">
      <div class="hover">
        <div class="Fukuoka-gourmet1-link">
          <%= link_to "水炊きのお店はこちら", gourmets_Mizutaki_path %>
        </div>
      </div>    
    </div>
  </div>
</div>

<div class="Fukuoka-gourmet2-container">
  <div class="Fukuoka-gourmet2-right">
    <div class="Fukuoka-gourmet2-title">
    その他
    </div>

    <div class="Fukuoka-gourmet2-detail">
    <p>福岡の知られざるご当地グルメとして、手作りうどんが挙げられます。</p>
    <br>
    <p>小麦粉を手作業で伸ばし、コシのある食感が楽しめます。また、</p>
    <br>
    <p>門司港のホタルイカの塩辛や、福岡県北部のやまめの塩焼きも試す価値があります。</p>
    <br>
    <p>福岡の未知の美味しさを探索しましょう。</p>
    </div>

    <div class="hover44">
      <div class="hover">
        <div class="Fukuoka-gourmet2-link">
          <%= link_to "その他のお店はこちら", gourmets_Fukuokaelse_path %>
        </div>
      </div>
    </div>
  </div>

  <div class="Fukuoka-gourmet2-photo">
    <%= image_tag "Fukuokaelse1.avif", class:"slide-image1" %>
  </div>
</div>