<div class="slideBox">
  <div class="title">Fukuoka</div>
    <%= image_tag "Fukuoka.jpg", class:"item2" %>
    <%= image_tag "Fukuoka2.jpg", class:"item2" %>
    <%= image_tag "Fukuoka3.avif", class:"item2" %>
    <%= image_tag "Fukuoka4.jpg", class:"item2" %>
    <%= image_tag "Fukuoka5.jpg", class:"item2" %>
  </div>
</div>


  <div class="Fukuoka-intro-container2">

    <div class="d-demo-Fukuoka">
      <div class="d-demo__wrap-Fukuoka">
        <div class="d-demo__list-Fukuoka d-demo__list--left-Fukuoka">
          <div class="d-demo__item-Fukuoka"><%= image_tag "Ginghiskhan11.jpg", class:"slide-image1" %></div>
          <div class="d-demo__item-Fukuoka"><%= image_tag "Hakataramen1.jpg", class:"slide-image1" %></div>
          <div class="d-demo__item-Fukuoka"><%= image_tag "Edomaemonzya.jpg", class:"slide-image1" %></div>
          <div class="d-demo__item-Fukuoka"><%= image_tag "Edomaezushi1.jpg", class:"slide-image1" %></div>
          <div class="d-demo__item-Fukuoka"><%= image_tag "Hakataramen1.jpg", class:"slide-image1" %></div>
          <div class="d-demo__item-Fukuoka"><%= image_tag "Motunabe1.jpg", class:"slide-image1" %></div>
        </div>
      </div>
    </div>

  <div class="Fukuoka-intro">
    <div class="福岡-intro-detail">
    <p>福岡についての詳細
    <br>
    福岡についての詳細2</p>
    </div>

    <div class="福岡-intro-title">
    <p>福岡</p>
    </div>
  </div>

  </div>


  <div class="Fukuoka-gourmet-title">
    福岡のご当地グルメ
  </div>

<div class="Fukuoka-gourmet1-container">
  <div class="Fukuoka-gourmet1-photo">
  <%= image_tag "Motunabe1.jpg", class:"slide-image2" %>
  </div>

  <div class="Fukuoka-gourmet1-right">
    <div class="Fukuoka-gourmet1-title">
    もつ鍋
    </div>
    <div class="Fukuoka-gourmet1-detail">
    もつ鍋について
    </div>
    <div class="Fukuoka-gourmet1-link">
      <%= link_to "もつ鍋のお店はこちら", gourmets_Motunabe_path %>
    </div>
  </div>
</div>


<div class="Fukuoka-gourmet2-container">
  <div class="Fukuoka-gourmet2-right">
    <div class="Fukuoka-gourmet2-title">
    博多ラーメン
    </div>

    <div class="Fukuoka-gourmet2-detail">
    博多ラーメンについて
    </div>

    <div class="Fukuoka-gourmet2-link">
      <%= link_to "博多ラーメンのお店はこちら", gourmets_Hakataramen_path %>
    </div>
  </div>

  <div class="Fukuoka-gourmet2-photo">
    <%= image_tag "Hakataramen1.jpg", class:"slide-image2" %>
  </div>
</div>

<div class="Fukuoka-gourmet1-container">
  <div class="Fukuoka-gourmet1-photo">
  <%= image_tag "Mizutaki1.jpg", class:"slide-image2" %>
  </div>

  <div class="Fukuoka-gourmet1-right">
    <div class="Fukuoka-gourmet1-title">
    水炊き
    </div>
    <div class="Fukuoka-gourmet1-detail">
    水炊きについて
    </div>
    <div class="Fukuoka-gourmet1-link">
      <%= link_to "水炊きのお店はこちら", gourmets_Mizutaki_path %>
    </div>
  </div>
</div>


<div class="Fukuoka-gourmet2-container">
  <div class="Fukuoka-gourmet2-right">
    <div class="Fukuoka-gourmet2-title">
    福岡の他のご当地グルメ
    </div>

    <div class="Fukuoka-gourmet2-detail">
    福岡の他のご当地グルメについて
    </div>

    <div class="Fukuoka-gourmet2-link">
      <%= link_to "その他のお店はこちら", gourmets_Fukuokaelse_path %>
    </div>
  </div>

  <div class="Fukuoka-gourmet2-photo">
    <%= image_tag "Hakataramen1.jpg", class:"slide-image2" %>
  </div>
</div>