<div class="slideBox">
  <div class="title">Hokkaido</div>
    <%= image_tag "Hokkaido.jpg", class:"item2" %>
    <%= image_tag "Hokkaido2.avif", class:"item2" %>
    <%= image_tag "Hokkaido3.avif", class:"item2" %>
    <%= image_tag "Hokkaido4.webp", class:"item2" %>
    <%= image_tag "Hokkaido5.jpg", class:"item2" %>
  </div>
</div>


  <div class="Hokkaido-intro-container2">

    <div class="d-demo-Hokkaido">
      <div class="d-demo__wrap-Hokkaido">
        <div class="d-demo__list-Hokkaido d-demo__list--left-Hokkaido">
          <div class="d-demo__item-Hokkaido"><%= image_tag "Ginghiskhan11.jpg", class:"slide-image1" %></div>
          <div class="d-demo__item-Hokkaido"><%= image_tag "Kaisendon1.jpg", class:"slide-image1" %></div>
          <div class="d-demo__item-Hokkaido"><%= image_tag "Edomaemonzya.jpg", class:"slide-image1" %></div>
          <div class="d-demo__item-Hokkaido"><%= image_tag "Edomaezushi1.jpg", class:"slide-image1" %></div>
          <div class="d-demo__item-Hokkaido"><%= image_tag "Monzyayaki1.jpg", class:"slide-image1" %></div>
          <div class="d-demo__item-Hokkaido"><%= image_tag "Takoyaki1.jpg", class:"slide-image1" %></div>
        </div>
      </div>
    </div>

  <div class="Hokkaido-intro">
    <div class="Hokkaido-intro-detail">
    <p>北海道についての詳細
    <br>
    北海道についての詳細2</p>
    </div>

    <div class="Hokkaido-intro-title">
    <p>北海道</p>
    </div>
  </div>

  </div>


  <div class="Hokkaido-gourmet-title">
    北海道のご当地グルメ
  </div>

<div class="Hokkaido-gourmet1-container">
  <div class="Hokkaido-gourmet1-photo">
  <%= image_tag "Ginghiskhan11.jpg", class:"slide-image2" %>
  </div>

  <div class="Hokkaido-gourmet1-right">
    <div class="Hokkaido-gourmet1-title">
    ジンギスカン
    </div>
    <div class="Hokkaido-gourmet1-detail">
    ジンギスカンについて
    </div>
    <div class="Hokkaido-gourmet1-link">
      <%= link_to "ジンギスカンのお店はこちら", gourmets_Ginghiskhan_path %>
    </div>
  </div>
</div>


<div class="Hokkaido-gourmet2-container">
  <div class="Hokkaido-gourmet2-right">
    <div class="Hokkaido-gourmet2-title">
    海鮮丼
    </div>

    <div class="Hokkaido-gourmet2-detail">
    海鮮丼について
    </div>

    <div class="Hokkaido-gourmet2-link">
      <%= link_to "海鮮丼のお店はこちら", gourmets_Kaisendon_path %>
    </div>
  </div>

  <div class="Hokkaido-gourmet2-photo">
    <%= image_tag "Kaisendon1.jpg", class:"slide-image2" %>
  </div>
</div>

<div class="Hokkaido-gourmet1-container">
  <div class="Hokkaido-gourmet1-photo">
  <%= image_tag "Sappororamen1.jpg", class:"slide-image2" %>
  </div>

  <div class="Hokkaido-gourmet1-right">
    <div class="Hokkaido-gourmet1-title">
    札幌ラーメン
    </div>
    <div class="Hokkaido-gourmet1-detail">
    札幌ラーメンについて
    </div>
    <div class="Hokkaido-gourmet1-link">
      <%= link_to "札幌ラーメンのお店はこちら", gourmets_Sappororamen_path %>
    </div>
  </div>
</div>


<div class="Hokkaido-gourmet2-container">
  <div class="Hokkaido-gourmet2-right">
    <div class="Hokkaido-gourmet2-title">
    北海道の他のご当地グルメ
    </div>

    <div class="Hokkaido-gourmet2-detail">
    北海道の他のご当地グルメについて
    </div>

    <div class="Hokkaido-gourmet2-link">
      <%= link_to "その他のお店はこちら", gourmets_Hokkaidoelse_path %>
    </div>
  </div>

  <div class="Hokkaido-gourmet2-photo">
    <%= image_tag "Kaisendon1.jpg", class:"slide-image2" %>
  </div>
</div>

<!--
<div class="hover2">
<div class="hover">
<a href="gourmets_Ginghiskhan_path">Hover This Link</a>
</div>
</div>
-->