<div class="slideBox">
  <div class="title"><p>Other</p> -in Hokkaido-</div>
    <div class="slider">
      <div class="slider_fade">
        <%= image_tag "Hokkaidoelse1.jpg", class:"slider_image" %>
        <%= image_tag "Hokkaidoelse2.jpg", class:"slider_image" %>
        <%= image_tag "Hokkaidoelse3.jpg", class:"slider_image" %>
        <%= image_tag "Hokkaido.jpg", class:"slider_image" %>
        <%= image_tag "Hokkaido.jpg", class:"slider_image" %>
      </div>
    </div>
  </div>
</div>

<div class="Hokkaidoelse-pagenation">
<%= page_entries_info @Hokkaidoelse %>
<%= paginate @Hokkaidoelse %>
<div>

<div class="Hokkaidoelsebox1">
  <% @Hokkaidoelse.each do |t| %>
    <div class="Hokkaidoelsebox2">
      <div class="Hokkaidoelse-gourmets-container1">
        <%= image_tag t.image_url, class:"Hokkaidoelse-index-photo" if t.image? %>
        <br>
        <div class="Hokkaidoelse-field1">
          <div class="Hokkaidoelse-body1">
            店名
          </div>
          <div class="Hokkaidoelse-body2">
            <%= t.shop_name %>
          </div>
        </div>

        <div class="Hokkaidoelse-field1">
          <div class="Hokkaidoelse-body1">
            価格
          </div>
          <div class="Hokkaidoelse-body2">
            <%= t.price %>
          </div>
        </div>

        <div class="Hokkaidoelse-field1">
          <div class="Hokkaidoelse-body1">
            総合評価
          </div>
          <div class="Hokkaidoelse-body2">
            <div class="star-rating">
              <span class="star-rating-front" style="width: <%= getPercent(t.overall) %>%;">★★★★★</span>
              <span class="star-rating-back">★★★★★</span>
            </div> 
          </div>
        </div>

      <!--<%= link_to "詳細", gourmet_path(t.id) %>
      <br>
      <%= link_to t.user.name, user_path(t.user.id) %>
      <%= t.created_at %> -->

      <div class="Hokkaidoelse-field2">
        <% if user_signed_in? %>
          <% if current_user.already_liked?(t) %>
            <%= link_to gourmet_like_path(id: t.id, gourmet_id: t.id), method: :delete do %>
              <i class="fas fa-heart"></i><%= t.likes.count %>
            <% end %>
          <% else %>
            <%= link_to gourmet_likes_path(id: t.id, gourmet_id: t.id), method: :gourmet do %>
              <i class="fas fa-heart"></i><%= t.likes.count %>
            <% end %>
          <% end %>
        <% else %>
          <i class="fas fa-heart"></i><%= t.likes.count %>
        <% end %>
      <br>

          <% if user_signed_in? && current_user.id == t.user_id %>
            <%= link_to "編集", edit_gourmet_path(t.id) %>
            <%= link_to "削除", gourmet_path(t.id), method: :delete %>
          <% end %> 
        </div>
      </div>  
    </div>  
  <% end %>
</div>