<div class="photo-index">
  <div class="phototitle-index">
    Search
  </div>
</div>

<!--
<%= form_tag gourmets_path, method: :get, class: 'boards__searchForm' do %>
  <%= select_tag :tag_id,
    options_from_collection_for_select(Tag.all, :id, :name, params[:tag_id]),
    {prompt: '都道府県を選択する',onchange: 'submit(this.form);'
    }   
  %>
<% end %>
-->

<div class="area1">
  <div class="Hokkaido">
    <a href="/gourmets/Hokkaido"><h3>Hokkaido</h3></a>
  </div>

  <div class="Tokyo">
    <a href="/gourmets/Tokyo"><h3>Tokyo</h3></a>
  </div>
</div>

<div class="area2">
  <div class="Osaka">
    <a href="/gourmets/Osaka"><h3>Osaka</h3></a>
  </div>

  <div class="Fukuoka">
    <a href="/gourmets/Fukuoka"><h3>Fukuoka</h3></a>
  </div>
</div>

<!--
<div id='map'></div>
-->

<style>
#map
{
  height: 600px;
  width: 100%;
}
</style>



<!-- js部分 -->
<script>
    function initMap() {

      //初期表示位置
      let latlng = new google.maps.LatLng(38.60, 139.5);
      //デザイン
      let styles = [
          {
            stylers: [
            { "saturation": 0 },
            { "lightness": 0 }
            ]
          }
          ];

      let map = new google.maps.Map(document.getElementById('map'), {
          zoom: 5.5,
          styles: styles,
          center: latlng
      });
      let transitLayer = new google.maps.TransitLayer();
      transitLayer.setMap(map);

//複数マーカー ここから
      <% @gourmets.each do |gourmet|%>
        ( function() { 
          let markerLatLng = { lat: <%= gourmet.lat %>, lng: <%= gourmet.lng %> }; // 緯度経度のデータ作成
          let marker = new google.maps.Marker({ 
            position: markerLatLng, 
            map: map 
          });
//マーカーをクリックしたとき、詳細情報を表示
          let infowindow = new google.maps.InfoWindow({
            position: markerLatLng,
            content: "<a href='<%= gourmet_url(gourmet.id) %>' target='_blank'></a>"
          }); //ここで詳細ページへのリンクを表示させる
          marker.addListener('click', function() {
            infowindow.open(map, marker);
          });

      })();
      <% end %>
      //複数マーカー ここまで  
  }
</script>

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA5YiQlX3PMEI7d7V-aL41HctWXVVCe8oU&callback=initMap" async defer></script>