<div class="slideBox">
  <div class="title">Osaka</div>
    <%= image_tag "Osaka.jpg", class:"item2" %>
    <%= image_tag "Osaka2.jpg", class:"item2" %>
    <%= image_tag "Osaka3.avif", class:"item2" %>
    <%= image_tag "Osaka4.jpg", class:"item2" %>
    <%= image_tag "Osaka5.avif", class:"item2" %>
  </div>
</div>


  <div class="Osaka-intro-container2">

    <div class="d-demo-Osaka">
      <div class="d-demo__wrap-Osaka">
        <div class="d-demo__list-Osaka d-demo__list--left-Osaka">
          <div class="d-demo__item-Osaka"><%= image_tag "Ginghiskhan11.jpg", class:"slide-image1" %></div>
          <div class="d-demo__item-Osaka"><%= image_tag "Okonomiyaki1.jpg", class:"slide-image1" %></div>
          <div class="d-demo__item-Osaka"><%= image_tag "Edomaemonzya.jpg", class:"slide-image1" %></div>
          <div class="d-demo__item-Osaka"><%= image_tag "Edomaezushi1.jpg", class:"slide-image1" %></div>
          <div class="d-demo__item-Osaka"><%= image_tag "Okonomiyaki1.jpg", class:"slide-image1" %></div>
          <div class="d-demo__item-Osaka"><%= image_tag "Takoyaki1.jpg", class:"slide-image1" %></div>
        </div>
      </div>
    </div>

  <div class="Osaka-intro">
    <div class="Osaka-intro-detail">
    <p>大阪についての詳細
    <br>
    大阪についての詳細2</p>
    </div>

    <div class="Osaka-intro-title">
    <p>大阪</p>
    </div>
  </div>

  </div>


  <div class="Osaka-gourmet-title">
    大阪のご当地グルメ
  </div>

<div class="Osaka-gourmet1-container">
  <div class="Osaka-gourmet1-photo">
  <%= image_tag "Takoyaki1.jpg", class:"slide-image2" %>
  </div>

  <div class="Osaka-gourmet1-right">
    <div class="Osaka-gourmet1-title">
    たこ焼き
    </div>
    <div class="Osaka-gourmet1-detail">
    たこ焼きについて
    </div>
    <div class="Osaka-gourmet1-link">
      <%= link_to "たこ焼きのお店はこちら", gourmets_Takoyaki_path %>
    </div>
  </div>
</div>


<div class="Osaka-gourmet2-container">
  <div class="Osaka-gourmet2-right">
    <div class="Osaka-gourmet2-title">
    お好み焼き
    </div>

    <div class="Osaka-gourmet2-detail">
    お好み焼きについて
    </div>

    <div class="Osaka-gourmet2-link">
      <%= link_to "お好み焼きのお店はこちら", gourmets_Okonomiyaki_path %>
    </div>
  </div>

  <div class="Osaka-gourmet2-photo">
    <%= image_tag "Okonomiyaki1.jpg", class:"slide-image2" %>
  </div>
</div>

<div class="Osaka-gourmet1-container">
  <div class="Osaka-gourmet1-photo">
  <%= image_tag "Kushikatu1.jpg", class:"slide-image2" %>
  </div>

  <div class="Osaka-gourmet1-right">
    <div class="Osaka-gourmet1-title">
    串カツ
    </div>
    <div class="Osaka-gourmet1-detail">
    串カツについて
    </div>
    <div class="Osaka-gourmet1-link">
      <%= link_to "串カツのお店はこちら", gourmets_Kushikatu_path %>
    </div>
  </div>
</div>


<div class="Osaka-gourmet2-container">
  <div class="Osaka-gourmet2-right">
    <div class="Osaka-gourmet2-title">
    大阪の他のご当地グルメ
    </div>

    <div class="Osaka-gourmet2-detail">
    大阪の他のご当地グルメについて
    </div>

    <div class="Osaka-gourmet2-link">
      <%= link_to "その他のお店はこちら", gourmets_Osakaelse_path %>
    </div>
  </div>

  <div class="Osaka-gourmet2-photo">
    <%= image_tag "Okonomiyaki1.jpg", class:"slide-image2" %>
  </div>
</div>