<div class="slideBox">
  <div class="title">Osaka</div>
    <div class="slider">
      <div class="slider_fade">
      <%= image_tag "Osaka.jpg", class:"item2" %>
      <%= image_tag "Osaka2.jpg", class:"item2" %>
      <%= image_tag "Osaka3.avif", class:"item2" %>
      <%= image_tag "Osaka4.jpg", class:"item2" %>
      <%= image_tag "Osaka5.avif", class:"item2" %>
      </div>
    </div>
  </div>
  </div>


  <div class="Osaka-intro-container1">
    <div class="d-demo-Osaka">
      <div class="d-demo__wrap-Osaka">
        <div class="d-demo__list-Osaka d-demo__list--left-Osaka">
          <div class="d-demo__item-Osaka"><%= image_tag "Takoyaki1.jpg", class:"slide-image0" %></div>
          <div class="d-demo__item-Osaka"><%= image_tag "Okonomiyaki1.jpg", class:"slide-image0" %></div>
          <div class="d-demo__item-Osaka"><%= image_tag "Kushikatu1.jpg", class:"slide-image0" %></div>
          <div class="d-demo__item-Osaka"><%= image_tag "Osakaelse1.jpg", class:"slide-image0" %></div>
          <div class="d-demo__item-Osaka"><%= image_tag "Okonomiyaki2.jpg", class:"slide-image0" %></div>
          <div class="d-demo__item-Osaka"><%= image_tag "Kushikatu2.jpg", class:"slide-image0" %></div>
        </div>
      </div>
    </div>


    <div class="Osaka-intro">
    <div class="Osaka-intro-detail">
    <p>大阪は「食い倒れの街」として知られ、</p>
    <br>
    <p>たこ焼き、お好み焼き、ラーメン、串カツ、</p>
    <br>
    <p>たくさんの創造的な屋台料理が楽しめます。</p>
    <br>
    <p>ここでの食事は、味覚だけでなく、</p>
    <br>
    <p>楽しい食体験と大らかな雰囲気も味わえます。</p>
    <br>
    <p>大阪のグルメは、心温まる笑顔と共に提供され、</p>
    <br>
    <p>食べることを愛する人々に幸せなひとときを提供します。</p>
    </div>
    

    <div class="Osaka-intro-title">
    <p>食の天国、</p>
    <p>味の宝庫</p>
    </div>
  </div>

  </div>


  <div class="Osaka-gourmet-title">
    大阪のご当地グルメ
  </div>

<div class="Osaka-gourmet1-container">
  <div class="Osaka-gourmet1-photo">
    <%= image_tag "Takoyaki1.jpg", class:"slide-image1" %>
  </div>

  <div class="Osaka-gourmet1-right">
    <div class="Osaka-gourmet1-title">
    たこ焼き
    </div>

    <div class="Osaka-gourmet1-catch">
    <h3>丸い美味しさ、アツアツの楽しみ</h3>
    </div>

    <div class="Osaka-gourmet1-detail">
    <p>直径約5センチほどの小さな玉に、新鮮なたこやふんわりとした生地、</p>
    <br>
    <p>秘伝のたこ焼きソース、青のり、そしてかつおぶしの風味が楽しめます。</p>
    <br>
    <p>その名の通り、たこ焼きには「たこ」が入ることも特徴ですが、</p>
    <br>
    <p>元々はたこを入れないバージョンもありました。</p>
    <br>
    <p>大阪への訪問時には、この風味豊かなたこ焼きをぜひ試してみてください。</p>
    </div>

    <div class="hover31">
      <div class="hover">
        <div class="Osaka-gourmet1-link">
          <%= link_to "たこ焼きのお店はこちら", gourmets_Takoyaki_path %>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="Osaka-gourmet2-container">
  <div class="Osaka-gourmet2-right">
    <div class="Osaka-gourmet2-title">
    お好み焼き
    </div>

    <div class="Osaka-gourmet2-catch">
    <h3>自分でアレンジ、お好みの味わいを創造</h3>
    </div>

    <div class="Osaka-gourmet2-detail">
    <p>薄い生地にキャベツ、肉、そして特製のお好み焼きソースと</p>
    <br>
    <p>青のりが絶妙に組み合わさり、絶品の逸品です。</p>
    <br>
    <p>語源は興味深く、第二次世界大戦前には「粉もの」と呼ばれ、</p>
    <br>
    <p>戦後に「お好み焼き」という名前が定着しました。</p>
    <br>
    <p>地元の食文化を体験する絶好の機会であり、</p>
    <br>
    <p>大阪では専用の鉄板の前で調理される様子を見ることも楽しみの一つです。</p>
    </div>

    <div class="hover32">
      <div class="hover">
        <div class="Osaka-gourmet2-link">
          <%= link_to "お好み焼きのお店はこちら", gourmets_Okonomiyaki_path %>
        </div>
      </div>
    </div>
  </div>

  <div class="Osaka-gourmet2-photo">
    <%= image_tag "Okonomiyaki1.jpg", class:"slide-image1" %>
  </div>
</div>


<div class="Osaka-gourmet1-container">
  <div class="Osaka-gourmet1-photo">
  <%= image_tag "Kushikatu1.jpg", class:"slide-image1" %>
  </div>

  <div class="Osaka-gourmet1-right">
    <div class="Osaka-gourmet1-title">
    串カツ
    </div>

    <div class="Osaka-gourmet1-catch">
    <h3>カリッと香ばしい、揚げ物の至福</h3>
    </div>


    <div class="Osaka-gourmet1-detail">
    <p>薄くてサクサクのパン粉が、新鮮な食材を包み込み、</p>
    <br>
    <p>専用の串で串刺しにされ、ファーストフードとしても人気です。</p>
    <br>
    <p>大阪で初めて提供されたのは昭和初期で、戦後に広まりました。大阪では</p>
    <br>
    <p>味にこだわり、さまざまなトッピングやソースを楽しめるお店が数多くあり、</p>
    <br>
    <p>地元の人々との交流を楽しみながら、美味しい串カツを味わうことができます。</p>
    </div>

    <div class="hover33">
      <div class="hover">
        <div class="Osaka-gourmet1-link">
          <%= link_to "串カツのお店はこちら", gourmets_Kushikatu_path %>
        </div>
      </div>    
    </div>
  </div>
</div>

<div class="Osaka-gourmet2-container">
  <div class="Osaka-gourmet2-right">
    <div class="Osaka-gourmet2-title">
    その他
    </div>

    <div class="Osaka-gourmet2-detail">
    <p>大阪では、その多彩な美味が訪れる人々を魅了しています。</p>
    <br>
    <p>てっちりは、新鮮な魚介類と野菜が風味豊かなだし汁で煮込まれる料理で、</p>
    <br>
    <p>特に大阪では、ふぐのてっちりが有名です。うどんは、もちもちの麺が特徴で、</p>
    <br>
    <p>大阪ではシンプルながらも深い味わいが楽しめます。</p>
    <br>
    <p>かけうどんやうどんすき、たこ天うどんなど、バリエーションも豊富です。</p>
    </div>

    <div class="hover34">
      <div class="hover">
        <div class="Osaka-gourmet2-link">
          <%= link_to "その他のお店はこちら", gourmets_Osakaelse_path %>
        </div>
      </div>
    </div>
  </div>

  <div class="Osaka-gourmet2-photo">
    <%= image_tag "Osakaelse1.jpg", class:"slide-image1" %>
  </div>
</div>