<div class="slideBox">
  <div class="title">Tokyo</div>
    <%= image_tag "Tokyo.jpg", class:"item2" %>
    <%= image_tag "Tokyo2.avif", class:"item2" %>
    <%= image_tag "Tokyo3.avif", class:"item2" %>
    <%= image_tag "Tokyo4.jpg", class:"item2" %>
    <%= image_tag "Tokyo5.jpg", class:"item2" %>
  </div>
</div>


  <div class="Tokyo-intro-container2">

    <div class="d-demo-Tokyo">
      <div class="d-demo__wrap-Tokyo">
        <div class="d-demo__list-Tokyo d-demo__list--left-Tokyo">
          <div class="d-demo__item-Tokyo"><%= image_tag "Ginghiskhan11.jpg", class:"slide-image1" %></div>
          <div class="d-demo__item-Tokyo"><%= image_tag "Monzyayaki1.jpg", class:"slide-image1" %></div>
          <div class="d-demo__item-Tokyo"><%= image_tag "Edomaemonzya.jpg", class:"slide-image1" %></div>
          <div class="d-demo__item-Tokyo"><%= image_tag "Edomaezushi1.jpg", class:"slide-image1" %></div>
          <div class="d-demo__item-Tokyo"><%= image_tag "Monzyayaki1.jpg", class:"slide-image1" %></div>
          <div class="d-demo__item-Tokyo"><%= image_tag "Takoyaki1.jpg", class:"slide-image1" %></div>
        </div>
      </div>
    </div>

  <div class="Tokyo-intro">
    <div class="Tokyo-intro-detail">
    <p>東京についての詳細
    <br>
    東京についての詳細2</p>
    </div>

    <div class="Tokyo-intro-title">
    <p>東京</p>
    </div>
  </div>

  </div>


  <div class="Tokyo-gourmet-title">
    東京のご当地グルメ
  </div>

<div class="Tokyo-gourmet1-container">
  <div class="Tokyo-gourmet1-photo">
  <%= image_tag "Edomaezushi1.jpg", class:"slide-image2" %>
  </div>

  <div class="Tokyo-gourmet1-right">
    <div class="Tokyo-gourmet1-title">
    江戸前寿司
    </div>
    <div class="Tokyo-gourmet1-detail">
    江戸前寿司について
    </div>
    <div class="Tokyo-gourmet1-link">
      <%= link_to "江戸前寿司のお店はこちら", gourmets_Edomaezushi_path %>
    </div>
  </div>
</div>


<div class="Tokyo-gourmet2-container">
  <div class="Tokyo-gourmet2-right">
    <div class="Tokyo-gourmet2-title">
    もんじゃ焼き
    </div>

    <div class="Tokyo-gourmet2-detail">
    もんじゃ焼きについて
    </div>

    <div class="Tokyo-gourmet2-link">
      <%= link_to "もんじゃ焼きのお店はこちら", gourmets_Monzyayaki_path %>
    </div>
  </div>

  <div class="Tokyo-gourmet2-photo">
    <%= image_tag "Monzyayaki1.jpg", class:"slide-image2" %>
  </div>
</div>

<div class="Tokyo-gourmet1-container">
  <div class="Tokyo-gourmet1-photo">
  <%= image_tag "Chankonabe1.jpg", class:"slide-image2" %>
  </div>

  <div class="Tokyo-gourmet1-right">
    <div class="Tokyo-gourmet1-title">
    ちゃんこ鍋
    </div>
    <div class="Tokyo-gourmet1-detail">
    ちゃんこ鍋について
    </div>
    <div class="Tokyo-gourmet1-link">
      <%= link_to "ちゃんこ鍋のお店はこちら", gourmets_Chankonabe_path %>
    </div>
  </div>
</div>


<div class="Tokyo-gourmet2-container">
  <div class="Tokyo-gourmet2-right">
    <div class="Tokyo-gourmet2-title">
    東京の他のご当地グルメ
    </div>

    <div class="Tokyo-gourmet2-detail">
    東京の他のご当地グルメについて
    </div>

    <div class="Tokyo-gourmet2-link">
      <%= link_to "その他のお店はこちら", gourmets_Tokyoelse_path %>
    </div>
  </div>

  <div class="Tokyo-gourmet2-photo">
    <%= image_tag "Monzyayaki1.jpg", class:"slide-image2" %>
  </div>
</div>