<div class="slideBox">
  <div class="title">Tokyo</div>
    <div class="slider">
      <div class="slider_fade">
        <%= image_tag "Tokyo.jpg", class:"item2" %>
        <%= image_tag "Tokyo2.avif", class:"item2" %>
        <%= image_tag "Tokyo3.avif", class:"item2" %>
        <%= image_tag "Tokyo4.jpg", class:"item2" %>
        <%= image_tag "Tokyo5.jpg", class:"item2" %>
      </div>
    </div>
  </div>
</div>

<div class="Tokyo-intro-container1">
  <div class="d-demo-Tokyo">
    <div class="d-demo__wrap-Tokyo">
      <div class="d-demo__list-Tokyo d-demo__list--left-Tokyo">
        <div class="d-demo__item-Tokyo"><%= image_tag "Edomaezushi1.jpg", class:"slide-image0" %></div>
        <div class="d-demo__item-Tokyo"><%= image_tag "Monzyayaki1.jpg", class:"slide-image0" %></div>
        <div class="d-demo__item-Tokyo"><%= image_tag "Chankonabe1.jpg", class:"slide-image0" %></div>
        <div class="d-demo__item-Tokyo"><%= image_tag "Edomaezushi2.jpg", class:"slide-image0" %></div>
        <div class="d-demo__item-Tokyo"><%= image_tag "Monzyayaki2.jpg", class:"slide-image0" %></div>
      </div>
    </div>
  </div>

  <div class="Tokyo-intro">
    <div class="Tokyo-intro-detail">
      <p>東京は食の楽園として知られ、</p>
      <br>
      <p>そのグルメは心とお腹を満たす魔法のようです。</p>
      <br>
      <p>東京の街角から高級レストランまで、</p>
      <br>
      <p>さまざまな味覚の宝庫が広がります。</p>
      <br>
      <p>都会の喧騒の中で、東京ならではの味覚を探索し、</p>
      <br>
      <p>食の饗宴を楽しんでください。</p>
    </div>

    <div class="Tokyo-intro-title">
      <p>東京味巡り、</p>
      <p>心のお腹も満たす</p>
    </div>
  </div>
</div>

<div class="Tokyo-gourmet-title">
  東京のご当地グルメ
</div>

<div class="Tokyo-gourmet1-container">
  <div class="Tokyo-gourmet1-photo">
    <%= image_tag "Edomaezushi1.jpg", class:"slide-image1" %>
  </div>

  <div class="Tokyo-gourmet1-right">
    <div class="Tokyo-gourmet1-title">
      江戸前寿司
    </div>

    <div class="Tokyo-gourmet1-catch">
      <h3>江戸の伝統、新鮮な魚の舞台</h3>
    </div>

    <div class="Tokyo-gourmet1-detail">
      <p>江戸時代からの伝統的な技術とこだわりが感じられ、</p>
      <br>
      <p>新鮮な魚介類をシンプルかつ繊細な手法で調理し、酢飯との調和を追求します。</p>
      <br>
      <p>マグロ、鯛、鰻など四季折々の旬の味わいが楽しめます。</p>
      <br>
      <p>寿司の語源は「握る」で、職人の手作業が重要です。</p>
      <br>
      <p>寿司ネタの選択や切り方にもルールがあり、長い修行を積んだ職人が守ります。</p>
    </div>

    <div class="hover21">
      <div class="hover">
        <div class="Tokyo-gourmet1-link">
          <%= link_to "江戸前寿司のお店はこちら", gourmets_Edomaezushi_path %>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="Tokyo-gourmet2-container">
  <div class="Tokyo-gourmet2-right">
    <div class="Tokyo-gourmet2-title">
      もんじゃ焼き
    </div>

    <div class="Tokyo-gourmet2-catch">
      <h3>アツアツの楽園、料理と友達と共に</h3>
    </div>

    <div class="Tokyo-gourmet2-detail">
      <p>外側はカリッと、内部はトロッとした食感が特徴で、具材は自由に</p>
      <br>
      <p>カスタマイズできます。その名前の由来は、「文治焼き」と呼ばれ、</p>
      <br>
      <p>文字通り「文治の乱れた焼き物」と表現されたことに起源があります。</p>
      <br>
      <p>もんじゃ焼きの魅力は、友達や家族と楽しむことができることで、</p>
      <br>
      <p>具材を選び、最後に自分好みのソースをかけて楽しむことができます。</p>
    </div>

    <div class="hover22">
      <div class="hover">
        <div class="Tokyo-gourmet2-link">
          <%= link_to "もんじゃ焼きのお店はこちら", gourmets_Monzyayaki_path %>
        </div>
      </div>
    </div>
  </div>

  <div class="Tokyo-gourmet2-photo">
    <%= image_tag "Monzyayaki1.jpg", class:"slide-image1" %>
  </div>
</div>

<div class="Tokyo-gourmet1-container">
  <div class="Tokyo-gourmet1-photo">
    <%= image_tag "Chankonabe1.jpg", class:"slide-image1" %>
  </div>

  <div class="Tokyo-gourmet1-right">
    <div class="Tokyo-gourmet1-title">
      ちゃんこ鍋
    </div>
    
    <div class="Tokyo-gourmet1-detail">
      <p>この鍋料理には、豚肉、鶏肉、新鮮な魚介、季節の野菜が具材として使用され、</p>
      <br>
      <p>特製の味噌や醤油ベースのスープで煮込まれます。</p>
      <br>
      <p>ちゃんこ鍋には、興行前の力士たちが団結し、協力しながら食べる伝統があります。</p>
      <br>
      <p>ぜひ、このパワフルな料理を楽しみながら、相撲の世界に触れてみてください。</p>
    </div>

    <div class="hover23">
      <div class="hover">
        <div class="Tokyo-gourmet1-link">
          <%= link_to "ちゃんこ鍋のお店はこちら", gourmets_Chankonabe_path %>
        </div>
      </div>    
    </div>
  </div>
</div>

<div class="Tokyo-gourmet2-container">
  <div class="Tokyo-gourmet2-right">
    <div class="Tokyo-gourmet2-title">
      その他
    </div>

    <div class="Tokyo-gourmet2-detail">
      <p>東京は、地域ごとに異なる料理文化が根付いており、そのバラエティは圧倒的です。</p>
      <br>
      <p>浅草の仲見世通りでは、たこ焼きやおせんべい、メロンパンアイスなど、</p>
      <br>
      <p>伝統的な日本の屋台料理が楽しめます。また、江戸東京博物館周辺で味わえるのは、</p>
      <br>
      <p>深川飯など、江戸前の郷土料理。アンティークの風情漂う下町で、</p>
      <br>
      <p>昔ながらの味を楽しむことができます。</p>
    </div>

    <div class="hover24">
      <div class="hover">
        <div class="Tokyo-gourmet2-link">
          <%= link_to "その他のお店はこちら", gourmets_Tokyoelse_path %>
        </div>
      </div>
    </div>
  </div>

  <div class="Tokyo-gourmet2-photo">
    <%= image_tag "Tokyo.jpg", class:"slide-image1" %>
  </div>
</div>